:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://images.unsplash.com/photo-1531366936337-7c912a4589a7?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    no-repeat center/cover;
  height: 100vh;
}

button {
  outline: none;
  border: none;
}

.container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 0 20px;
}

.timer-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
  border-radius: 5px;
  border: 1px solid #ffffff95;
}

.timer {
  padding: 20px;
}

.button-primary {
  position: relative;
  padding: 10px 20px;
  color: white;
  border: 5px solid white;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.button-primary:hover {
  transform: scale(1.1);
}

.button-secondary {
  position: relative;
  padding: 10px 20px;
  color: white;
  border: 5px solid white;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.button-secondary:hover {
  transform: scale(1.1);
}
